<div class="row">
  <div class="col-sm-12">
    <h1>Recipe name</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="dropdown">
      <a
        class="btn btn-primary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage recipe
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">To shopping list</a></li>
        <li><a class="dropdown-item" href="#">Edit recipe</a></li>
        <li><a class="dropdown-item" href="#">delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    description
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    ingredient
  </div>
</div>
